@import 'src/variables';

.root {
  width: 100%;
  padding: 10px 20px 10px 10px;
  display: flex;
  &:nth-child(odd) {
    background: $light-blue;
  }
}

.index {
  font-size: 10px;
  color: $gray;
  line-height: 40px;
  margin-right: 5px;
  width: 10px;
}

.avatar {
  font-size: 20px;
  color: $white;
  background: $blue;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $boxShadow;
  margin: 0 10px;
}

.name {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  display: block;
}

.pub_count {
  font-size: 14px;
  font-weight: 100;
  color: $gray;
}

.medal {
  width: 100%;
  flex-shrink: 2;
}
