@import 'src/variables';

.container {
  min-width: 350px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.sortButtons {
  display: flex;
  padding: 10px 0;
  & > button {
    margin-right: 20px;
    width: 150px;
  }
}
