@import 'src/variables';

.inputWrapper {
  width: 100%;
  background: $light-blue;
  padding: 15px 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
}

img {
  max-height: 15px;
}